{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "prettier/prettier": "error", // Means error
    "comma-dangle": "warn",
    "no-unused-expressions": "off"
  }
}
